body {
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:antiquewhite;
    margin-left:3%;
    margin-right: 3%;

}

h2 {

    background-color:slategray;
    text-align:center;
    color:lightgray;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;

}

h3 {

    color:lightgray;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

h4 {

    padding-top: 10px;
    padding-bottom: 1px;
}

a {

    color:antiquewhite;
}

a:visited {

    color:antiquewhite;
    
}

#axnet_footer {

    text-decoration: overline;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align:center;
    padding-bottom: 25px;
    
}

